{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}"/>

{% endblock extra_css %}

{% block content %}{# block.super #}

 <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for p in self.get_children %} {% for project in p.get_children %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Project image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Project details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Project name-->
                                    <h5 class="fw-bolder">Project film</h5>
                                    some text some text some text some text some text some text
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ project.full_url }}">View details</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}{% endfor %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Project image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Project details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Project name-->
                                    <h5 class="fw-bolder">Project film</h5>
                                    some text some text some text some text some text some text
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/projects/project-2/">View details</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Project image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Project details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Project name-->
                                    <h5 class="fw-bolder">Project film</h5>
                                    some text some text some text some text some text some text
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/projects/project-2/">View details</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

{% endblock content %}
