{% extends "base.html" %}
{% load static wagtailimages_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}{# block.super #}
{% if request.user.is_authenticated %}
<!-- Section Projects -->
        <section class="py-5"> Projects
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% for p in self.get_children.live %} {% for project in p.get_children %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Project image-->
                            {% image  project.specific.representative_image original as tizer %}
                            <img class="card-img-top" src="{{ tizer.url }}" alt="{{ project.title}}" />
                            <!-- Project details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Project name-->
                                    <h5 class="fw-bolder">{{ project.title|striptags|truncatechars:20 }}</h5>
                                    {{ project.specific.body|striptags|truncatechars:55 }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ project.full_url }}">View details</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}{% endfor %}

                </div>
            </div>
        </section>

<!-- Section News -->
        <section class="py-5"> News
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
{% for p in self.get_children.live %}
{% for f in p.get_children.live %}
{% for proj_news in f.get_children %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- News image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- News details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- News name-->
                                    <h5 class="fw-bolder">{{ proj_news.title|striptags|truncatechars:20 }}</h5>
                                    {{ proj_news.specific.description|striptags|truncatechars:55 }}
                                </div>
                            </div>
                            <!-- News actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ proj_news.full_url }}">View details</a></div>
                            </div>
                        </div>
                    </div>
{% endfor %}
{% endfor %}
{% endfor %}


                </div>
            </div>
        </section>
{% else %}
    <a>You are not loggin in. Please, <a href="/login/">login</a></p>
{% endif %}
{% endblock content %}
