{% load wagtailimages_tags %}
<!-- =========== -->
<div class="block__media_title font_sansh61 color_yellow">
<h2>{{self.title}}</h2>
</div>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for card in self.cards %}
        {% image card.image max-274x174 as img %}
        <div class="col">
          <div class="card shadow-sm">
            <a  target="_blank" href="{{img.url}}" >
                <img src="{{img.url}}" width="100%" >
            </a>
            <div class="card-body">
              <p class="card-text">{{ card.title }}</p>
            </div>
          </div>
        </div>
        {% endfor %}


        </div>
    </div>
</div>

<!-- =========== -->