{% extends "base.html" %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/project.css' %}"/>{% endblock extra_css %}


{% block content %}
<!-- Project description section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">Started: {{ page.date }}</div>
                        <h1 class="display-5 fw-bolder">{{ page.title }}</h1>
                        <div class="fs-5 mb-5">
                            <span>Genres:{% for genre in page.project_genres.all %}{{ genre.genre.name }}&nbsp
    {% endfor %}</span>
                        </div>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- END Project description section-->

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

        <div class="b-news-item border">
        <div class="h-news-item">
                            <div class="b-news-author-item">
                                                                        <div class="b-author-img"><img src="https://b2b.film.ua/uploads/news_author/2017/7bc3b9c66963fdf10aab5a686e3cced9b22dabbb.jpg" alt="Nadia Korotushka" /></div>
                                                <div class="b-author-name">Nadia Korotushka</div>
                        <div class="b-author-desc">Delivery Manager</div>                                    </div>

            <div class="b-news-holder">

                <div class="b-news-info clear">
                                            <div class="b-news-img"><a href="//b2b.film.ua/en/news/text/42-the-stolen-princess-to-become-the-first-ukrainian-film-to-be-released-in-chinese-cinemas"><img src="https://b2b.film.ua/uploads/news/2018/12/14/8d64d604bec87bf2a062463166e114f21bbfc6a4.jpg" alt="THE STOLEN PRINCESS TO BECOME THE FIRST UKRAINIAN FILM TO BE RELEASED IN CHINESE CINEMAS" /></a></div>
                                        <div class="b-news-title"><h2><a href="//b2b.film.ua/en/news/text/42-the-stolen-princess-to-become-the-first-ukrainian-film-to-be-released-in-chinese-cinemas">THE STOLEN PRINCESS TO BECOME THE FIRST UKRAINIAN FILM TO BE RELEASED IN CHINESE CINEMAS</a></h2></div>
                    <div class="b-news-desc"><a href="//b2b.film.ua/en/news/text/42-the-stolen-princess-to-become-the-first-ukrainian-film-to-be-released-in-chinese-cinemas">The film’s Chinese distributor Golden-Spread has informed that The Stolen Princess has passed the check and fully matches creative and legislative requirements in PRC. The premiere date in China has been announced, which is January 18, 2019.</a></div>
                    <div class="b-news-date">14 December 2018</div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
